.project {
  border: 2px solid steelblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0;
  width: 75vw;
  margin-top: 4em;
}

.project-description {
  text-align: center;
}

.project-title {
  position: relative;
  bottom: 2.4vh;
  background-color: firebrick;
  padding: 5vh 30vw 5vh 30vw;
}

.paginating-list-proj .project-title {
  padding: 5vh 24vw 5vh 24vw;
}

.skills {
  position: relative;
  left: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}

.fa-bootstrap {
  position: relative;
  right: 0.1em;
}

.fa-html5, .fa-figma {
  position: relative;
  left: 0.1em;
}

.heading {
  position: relative;
  left: 1.6em;
  top: 1em;
  z-index: 20;
}

.social {
  margin-top: 2.2em;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.social a {
  text-decoration: none;
  color: black;
  margin-bottom: 1.6em;
}

footer {
  position: absolute;
  top: 935vh;
}

footer h3 {
  font-size: 7.4vw;
  text-transform: uppercase;
}

.title {
  font-size: 50px;
}

.subtitle {
  font-size: 35px;
}

.about-txt, #about {
  text-align: center;
  font-size: 22px;
}

.about-txt {
  width: 82%;
}

#about {
  font-size: 26px;
}

.fa-html5, .fa-css3, .fa-js, .fa-sass, .fa-bootstrap, .fa-react, .fa-figma, .fa-github, .fa-python {
  font-size: 65vw;
}

.fa-sass {
  font-size: 52vw;
}

hr {
  width: 65vw;
  position: relative;
  right: 2.5em;
}

.project-section-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0.5em;
  right: 2.2em;
}

.all, .personal, .educational {
  padding: 1em;
  background-color: darkslategrey;
  color: #fff;
  font-weight: bolder;
}

.all, .personal {
  margin-bottom: 3em;
}

.project-image {
  width: 73vw;
  position: relative;
  bottom: 4.54vh;
  border: 6px solid black;
}

.nav-list {
  list-style-type: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  position: absolute;
  top: -1em;
  right: -100vw;
  height: 104.5vh;
  width: 33.33%;
  z-index: 400;
  background-color: skyblue;
}
.nav-list .nav-itm {
  margin-top: 3em;
}
.nav-list .nav-itm .nav-link {
  text-decoration: none;
  color: #000;
  font-size: 2em;
}

.nav-list-anim {
  animation-duration: 1.5s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    right: -100vw;
  }
  to {
    right: 4em;
  }
}

.nav-list:first-child {
  padding-top: 4.5em;
}

.mobile-menu,
.mobile-menu-close {
  width: 20%;
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 4em;
}

.mobile-menu-close {
  position: relative;
  left: 65vw;
  width: 15%;
  display: none;
  z-index: 430;
}

.nav-show {
  display: flex;
  right: 4em;
}

.closing {
  animation-duration: 2s;
  animation-name: slideout;
}
@keyframes slideout {
  from {
    right: 2em;
  }
  to {
    right: -100vw;
  }
}/*# sourceMappingURL=styles.css.map */