* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    color: #fff;
    text-align: center;
    margin-top: 3rem;
    font-size: x-large;
}

header h1 {
    text-transform: uppercase;
    margin-top: 2.5em;
    margin-bottom: 1rem;
}

body {
    font-family: Arial, sans-serif;
        background: #282c34;
        color: #fff;
}

nav {
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

nav .mainMenu {
    display: flex;
    list-style: none;
}

nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
}

nav .mainMenu li a:hover {
    background: rgb(255,94,0);
}

nav .openMenu {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

nav .mainMenu .closeMenu {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

@media(max-width: 800px) {
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 30px;
    }

    nav .openMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: -20px;
    }

    nav .mainMenu li a:hover {
        background: none;
        color: rgb(255,123,0);
        font-size: 1.6rem;
    }
}

#about h3,#skills h3,#projects h3,#contact h3 {
    position: relative;
    top: 35vw;
    font-size: 35px;
    text-align: center;
}

#projects h3 {
    position: relative;
    top: 55vw;
}

#contact h3 {
    margin-top: 3em;
}

#skills,#projects,#contact {
    position: relative;
    top: 20vw;
}

#skills {
    top: 22vh;
}

#projects,#contact {
    top: 50vw;
}

#contact {
    top: 80vw;
}

#about p {
    width: 70%;
    text-align: center;
    line-height: 25px;
    position: relative;
    top: 13em;
    left: 3.5em;
}

.project {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 5.5em;
    top: 25vh;
    width: 90vw;
    margin-bottom: 4em;
}

.quote-preview, .game-show, .markdown-proj, .drum-machine {
    position: relative;
    width: 90vw;
    border-radius: 10px;
}

.project button {
    padding: 1em 3em;
    color: #fff;
    background: #282c34;
    cursor: pointer;
}
#openAPIProj, #openGameShow, #openMarkdownPreviewer, #openDrumProj {
    position: relative;
    right: 16em;
    top: 6em;
}

.modal-container-reactapi,.modal-container-game-show,.modal-container-react-markdown,.modal-container-react-drum {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 120vh;
    width: 120vw;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.6s ease;
    z-index: 1000;
}

.modalReactAPI,.modalGameShow,.modalReactMarkdown,.modalReactDrum {
    background-color: #fff;
    color: #000;
    border-radius: 0 0 10px 10px;
    padding: 30px 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal-container-reactapi,.modal-container-game-show,.modal-container-react-markdown,.modal-container-react-drum {
    flex-direction: column;
}

.react-api-img,.js-game-img,.react-markdown-img,.react-drum-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.react-api-img img,.js-game-img img,.react-markdown-img img,.react-drum-img img {
    border: 2px solid #fff;
    border-radius: 10px 10px 0 0;
}

.modal-container-reactapi img, .modal-container-game-show img,.modal-container-react-drum img {
    width: 75%;
}

.modal-container-react-markdown img {
    width: 85%;
}

.modalReactAPI button,.modalReactAPI p,.modalGameShow button,.modalGameShow p,.modalReactMarkdown button,.modalReactMarkdown p,.modalReactDrum button,.modalReactDrum p {
    margin-top: 1.2em;
    text-align: center;
}

.modalReactAPI h3,.modalGameShow h3,.modalReactMarkdown h3,.modalReactDrum h3 {
    text-align: center;
}

.modal-container-reactapi.show,.modal-container-game-show.show,.modal-container-react-markdown.show,.modal-container-react-drum.show {
    opacity: 1;
    pointer-events: auto;
}

#closeAPIProj,#closeGameShowProj,#closeMarkdownProj,#closeDrumProj {
    position: relative;
    left: 32vw;
    font-size: 25px;
    cursor: pointer;
}

#closeAPIProj {
    bottom: 21vh;
    left: 5.8em;
}

#closeGameShowProj {
    bottom: 49vh;
    left: 5.8em;
}

#closeMarkdownProj {
    bottom: 62vh;
    left: 6em;
}

#closeDrumProj {
    color: #fff;
    bottom: 24vh;
    left: 6em;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
}

.fa-code,.fa-chrome {
    font-size: 40px;
    cursor: pointer;
}

.fa-code {
    margin-right: 0.3em;
}

.skill-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 2em;
    top: 15em;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3em;
}

.col i {
    font-size: 250px;
    margin-bottom: 0.4em;
}

#contact h3 {
    border-bottom: 1px solid #fff;
    padding-bottom: 1em;
}

.social-link {
    color: #fff;
    text-decoration: none;
}

.social-link:hover {
    color: rgb(255,123,0);
}

#social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    position: relative;
    top: 10em;
}

#social ul {
    list-style: none;
}

#social ul li {
    margin-bottom: 1.5em;
}

@media(min-width: 768px) {
    nav .openMenu {
        left: 90vw;
    }

    nav .mainMenu .closeMenu {
        left: 90vw;
    }

    #about h3 {
        top: 3em;
    }

    #about p {
        left: 7em;
    }

    #skills h3 {
        top: 4em;
    }

    #projects h3 {
        top: 5em;
    }

    .game-show,.drum-machine {
        position: relative;
        right: 3em;
    }

    .project-container .col {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }

    #openAPIProj,#openGameShow,#openDrumProj {
        position: relative;
        top: 10em;
        right: 30em;
    }

    #openMarkdownPreviewer {
        position: relative;
        top: 10em;
        right: 25em;
    }

    .react-api-img,.modalReactAPI,.js-game-img,.modalGameShow {
        position: relative;
        right: 4em;
    }
    #closeAPIProj,#closeGameShowProj {
        bottom: 41vh;
        left: 40vw;
    }

    .col {
        flex-direction: row;
    }

    .col i {
        font-size: 200px;
        margin-right: 40px;
        margin-bottom: -2px;
    }

    .col .project:first-of-type {
        margin-right: 30px;
    }

    #closeGameShowProj {
        bottom: 30em;
    }

    #closeDrumProj {
        bottom: 23em;
        left: 12em;
    }

    #contact h3 {
        top: 2em;
        left: 2em;
    }

    #social {
        margin-top: -60px;
        left: 5em;
    }
    }

@media(min-width: 1024px) {
    .skill-list .col i {
        font-size: 270px;
        margin-right: 55px;
    }
    nav {
        width: 97.5vw;
    }
    #about p {
        position: relative;
        left: 9em;
    }
#openAPIProj,#openGameShow,#openMarkdownPreviewer,#openDrumProj {
    right: 45vw;
    top: 15vh;
}
#openGameShow {
    right: 55vw;
}
#openDrumProj {
    right: 54vw;
}

    #modal_container_reactapi,#modal_container_game_show {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #modal_container_reactapi .modalReactAPI {
        width: 67.3vw;
    }
    #closeAPIProj {
        position: relative;
        left: 12.4em;
    }
    #modal_container_game_show .modalGameShow {
        width: 79.35vw;
    }
    #closeGameShowProj {
        left: 15em;
        bottom: 68.5vh;
    }
    #modal_container_reactmarkdown .modalReactMarkdown {
        width: 40vw;
    }
    #modal_container_reactmarkdown .react-markdown-img {
        width: 46.8vw;
    }
    #modal_container_reactmarkdown {
        top: -5em;
    }
    #closeMarkdownProj {
        bottom: 73.5vh;
        left: 17.6vw;
    }
    .drum-machine  {
        position: relative;
        right: 9vw;
    }
    #modal_container_reactdrum .modalReactDrum {
        width: 64.7%;
    }
    #closeDrumProj {
        bottom: 54.6vh;
        left: 36vw;
    }
    #contact {
        right: 4em;
        width: 95%;
    }
}

@media(min-width: 1440px) {
    #about p {
        left: 25em;
        width: 45%;
    }
    #projects {
        position: relative;
        top: 38vh;
    }
    #contact {
        position: relative;
        top: 55vh;
    }
    .project {
        width: 25%;
    }
}

@media(min-width: 2560px) {
    h1,h2 {
        font-size: 55px;
    }
    #about h3,#skills h3 {
        font-size: 45px;
    }

    #skills h3 {
        font-size: 60px;
        position: relative;
        top: 2em;
    }

    #about p {
        font-size: 30px;
        line-height: 45px;
        position: relative;
        top: 7em;
    }

    .skill-list {
        position: relative;
        left: 11em;
    }
    .skill-list .col i {
        margin-right: 0.9em;
        margin-bottom: 0.3em;
    }
    .project {
        width: 16%;
    }
}