.project-section-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0.5em;
    right: 2.2em;
}

.all,.personal,.educational {
    padding: 1em;
    background-color: darkslategrey;
    color: #fff;
    font-weight: bolder;
}

.all,.personal {
    margin-bottom: 3em;
}