.nav-list {
    list-style-type: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    position: absolute;
    top: -1em;
    right: -100vw;
    height: 104.5vh;
    width: 33.33%;
    z-index: 400;
    background-color: skyblue;
    .nav-itm {
        margin-top: 3em;
        .nav-link {
            text-decoration: none;
            color: #000;
            font-size: 2em;
        }
    }
}

.nav-list-anim {
    animation-duration: 1.5s;
    animation-name: slidein;
    @keyframes slidein {
        from {
            right: -100vw;
        }
        to {
            right: 4em;
        }
    }
}

.nav-list:first-child {
    padding-top: 4.5em;
}

.mobile-menu,
.mobile-menu-close {
    width: 20%;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 4em;
}

.mobile-menu-close {
    position: relative;
    left: 65vw;
    width: 15%;
    display: none;
    z-index: 430;
}

.nav-show {
    display: flex;
    right: 4em;
}

.closing {
    animation-duration: 2s;
    animation-name: slideout;
    @keyframes slideout {
        from {
            right: 2em;
        }
        to {
            right: -100vw;
        }
    }
}
