.project {
    border: 2px solid steelblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0;
    width: 75vw;
    margin-top: 4em;
}

.project-description {
    text-align: center;
}

.project-title {
    position: relative;
    bottom: 2.4vh;
    background-color: firebrick;
    padding: 5vh 30vw 5vh 30vw;
}

.paginating-list-proj .project-title {
    padding: 5vh 24vw 5vh 24vw;
}

.skills {
    position: relative;
    left: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
}

.fa-bootstrap {
    position: relative;
    right: 0.1em;
}

.fa-html5,.fa-figma {
    position: relative;
    left: 0.1em;
}

.heading {
    position: relative;
    left: 1.6em;
    top: 1em;
    z-index: 20;
}

.social {
    margin-top: 2.2em;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    a {
        text-decoration: none;
        color: black;
        margin-bottom: 1.6em;
    }
}

footer {
    position: absolute;
    top: 935vh;
}

footer h3 {
        font-size: 7.4vw;
        text-transform: uppercase;
    }